{% extends 'base.html'%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/About.css'%}" media="screen">

    <section class="u-align-center u-clearfix u-section-1" id="sec-9419">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-grey-25 u-icon u-icon-circle u-icon-1"><img src="{% static 'images/4298944-984a522e.png'%}" alt=""></span>
                <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> university</h3>
                <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500" data-animation-direction="Left"> Al Qussaim university<br>
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-grey-25 u-icon u-icon-circle u-icon-2"><img src="{% static 'images/9567708-70171be0.png'%}" alt=""></span>
                <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">major </h3>
                <p class="u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500" data-animation-direction="Left"> Computer Science<br>
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-grey-25 u-icon u-icon-circle u-icon-3"><img src="{% static 'images/3135763-94d34c89.png'%}" alt=""></span>
                <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-palette-1-base u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> CERTIFICATIONS</h3>
                <p class="u-text u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-direction="Left" data-animation-delay="500">- Harvard​:CS50's&nbsp;introduction to computer&nbsp; &nbsp; &nbsp; &nbsp; science<br>- Harvard:CS50's introduction to artificial&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; intellegence with python<br>- IBM:AI for Everyone: Master the Basics<br>- Google: IT Support
                </p>
              </div>
            </div>
          </div>
        </div>
        <h2 class="u-custom-font u-font-montserrat u-text u-text-custom-color-3 u-text-default u-text-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">About me</h2>
        <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Farah Al-Othaim, a computer science student at Qassim University in the Qassim region, specifically Buraidah. I aim to develop my skills and become familiar with all new technologies and work to develop and improve them.<br>
          <br>
          <span style="font-weight: 700;"></span>
          <span style="font-weight: 700;">I wish to devote my skills to serving the community and the vision</span>
        </p>
      </div>
    </section>
    
{% endblock content %}