{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Courses.css'%}" media="screen">
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-1" id="carousel_bd28">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0"> Courses</h2>
        <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Here I review the external courses I have completed</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img class="u-expanded-width u-image u-image-contain u-image-default u-image-2" src="{% static 'images/asset-v1_HarvardXCS50Xtypethumbnailblockcourse_image-png-375x200.jpg'%}" data-image-width="336" data-image-height="200">
                <h4 class="u-align-left u-text u-text-black u-text-default u-text-3">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" data-href="https://github.com/farah9990/courses-harvard/tree/main/CS50">Harvard</a>
                </h4>
                <p class="u-align-left u-text u-text-4"> introduction to computer&nbsp; &nbsp; &nbsp; &nbsp; science</p>
              </div>
            </div>
            <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img class="u-expanded-width u-image u-image-contain u-image-default u-image-2" src="{% static 'images/asset-v1_HarvardXCS50AI1T2020typethumbnailblockcourse_image-png-375x200.jpg'%}" data-image-width="336" data-image-height="200">
                <h4 class="u-align-left u-text u-text-black u-text-default u-text-5">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2" data-href="https://github.com/farah9990/courses-harvard/tree/main/CS50AI"> Harvard</a>
                </h4>
                <p class="u-align-left u-text u-text-6"> introduction to artificial&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; intellegence with python</p>
              </div>
            </div>
            <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-expanded-width u-image u-image-contain u-image-default u-image-3" src="{% static 'images/images.png'%}" data-image-width="297" data-image-height="169">
                <h4 class="u-align-left u-text u-text-black u-text-default u-text-7">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3" data-href="https://github.com/farah9990/courses-harvard/tree/main/CS50" href="https://github.com/farah9990/Google-for-IT-support"> Google&nbsp;</a>
                </h4>
                <p class="u-align-left u-text u-text-8"> IT Support</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-2" id="sec-d2c6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-border-3 u-border-color-2-base u-expanded-width u-left-0 u-shape u-shape-1"></div>
        <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-43 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h3 class="u-text u-text-default u-text-1"> What about summer training?</h3>
                  <p class="u-text u-text-2"> In the Smart Methods Foundation, which is an institution specialized in artificial intelligence and robotics</p>
                </div>
              </div>
              <div class="u-align-left u-container-align-center u-container-style u-layout-cell u-right-cell u-size-17 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <a href="https://github.com/farah9990/smart-methods-training" class="u-align-center u-border-none u-btn u-button-style u-btn-1">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
{% endblock content %}