{% extends 'base.html'%}
{% load static %}
{% block content %}

    <section class="u-clearfix u-custom-color-6 u-section-1" id="sec-be7f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Wep application </h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1280" data-image-height="905" src="{% static 'images/333ef11f207e4fcff9ed129b973852f7e27b28b578ea3e282bae9ed72c3c560f0898df9549546d00485c331a6693807b1cb87b48a0ce57a7251a5b_1280.jpg' %}">
                <h3 class="u-align-left u-text u-text-default u-text-2"> Finance</h3>
                <p class="u-align-left u-text u-text-3">It is a web application that simulates the stock market and provides services to the user such as buying, selling, and portfolio </p>
                <a href="https://github.com/farah9990/courses-harvard/tree/main/CS50/finance" class="u-active-none u-align-left u-border-2 u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-1">learn more</a>
              </div>
            </div>
            <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1280" data-image-height="757" src="{% static 'images/0275589a1bf10ae90d56d5e0ea4d860ccf2e2bafa19f84df3b686ff532882b232233495fd12ad54a312ff411d378d46230d194bee104d8f226be52_1280.jpg' %}">
                <h3 class="u-align-left u-text u-text-default u-text-4">Goal </h3>
                <p class="u-align-left u-text u-text-5"> An application that helps the user to record, follow, and update the status of his tasks in order to motivate him and help him organize his day to reach his goals.</p>
                <a href="https://github.com/farah9990/courses-harvard/tree/main/CS50/projectCS50" class="u-active-none u-align-left u-border-2 u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-light-1 u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-2">learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
{% endblock content %}